<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../styles/boardstyle.css">
    <link rel="stylesheet" href="../../styles/fonts.css">
    <link rel="stylesheet" href="../../styles/task_style.css">

</head>

<body onload="Board_loadTasks()">
    <!--  -->

    <section id="BoardOverlay" class="Boardoverlay" style="display: none;">
        <div id="blocker" class="blocker"></div>
        <div id="boardOverlaybody" class="overlayBlank"></div>
    </section>
    <section class="boardbody">
        <div class="head">
            <h1 class="h1">Board</h1>
            <div class="headleft">
                <div class="searchbar">
                    <input onkeyup="Board_resetSearch()" id="taskSearch" type="text" placeholder="Find task">
                    <div class="divider"></div>
                    <img onclick="Board_search()" src="../img/search.svg" alt="">
                </div>
                <button onclick="Board_addTask('toDo')">Add task</button>
            </div>
        </div>
        <div class="panels">
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>To do</h2>
                    <button onclick="Board_addTask('toDo')" class="add"></button>
                </div>
                <div id="toDo" class="panelbody"></div>
            </div>
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>In progress</h2>
                    <button onclick="Board_addTask('inProgress')" class="add"></button>
                </div>
                <div id="inProgress" class="panelbody">
                </div>
            </div>
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>Await feedback</h2>
                    <button onclick="Board_addTask('feedback')" class="add"></button>
                </div>
                <div id="awaitFeedback" class="panelbody">
                </div>
            </div>
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>Done</h2>
                </div>
                <div id="done" class="panelbody">
                </div>
            </div>
        </div>
    </section>

    <script src="../../js/board.js"></script>
    <script src="../../js/task_script.js"></script>
    <script src="../../js/storage.js"></script>
    <script src="../../js/templates/add_task_template.js"></script>
</body>

</html>