<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../js/board.js"></script>
    <link rel="stylesheet" href="../../styles/boardstyle.css">
    <link rel="stylesheet" href="../../styles/fonts.css">
</head>

<body>


    <section class="boardbody">
        <div class="head">
            <h1 class="h1">Board</h1>
            <div class="headleft">
                <div class="searchbar">
                    <input type="text">
                    <div class="divider"></div>
                    <img onclick="" src="" alt="">
                </div>
                <button>Add task</button>
            </div>
        </div>
        <div class="panels">
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>To do</h2>
                    <button class="add"></button>
                </div>
                <div id="ToDo" class="panelbody"></div>
            </div>
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>In progress</h2>
                    <button class="add"></button>
                </div>
                <div id="inProgress" class="panelbody"></div>
            </div>
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>Await feedback</h2>
                    <button class="add"></button>
                </div>
                <div id="awaitFeedback" class="panelbody"></div>
            </div>
            <div class="taskpanel">
                <div class="panelhead">
                    <h2>Done</h2>
                    <button class="add"></button>
                </div>
                <div id="done" class="panelbody"></div>
            </div>
        </div>
    </section>


</body>

</html>