<div class="header">
    <div class="headline">
        <span>Kanban Project Management Tool</span>
    </div>
    <div class="headline-profile">
        <div class="help-link">
            <a href=""><img src="/assets/img/help.svg"></a>
        </div>
        <div class="user-profile-initials"></div>
    </div>
</div>
<div class="navigation">
    <div class="navigation-img">
        <img class="navigation-logo" src="/assets/img/logo-white.svg">
    </div>
    <div class="navigation-menu">
        <div class="menu-button">
            <img src="/assets/img/summary-grey.svg">
            <span>Summary</span>
        </div>
        <div class="menu-button">
            <img src="/assets/img/addTask-grey.svg">
            <span>Add Task</span>
        </div>
        <div class="menu-button">
            <img src="/assets/img/board-grey.svg">
            <span>Board</span>
        </div>
        <div class="menu-button">
            <img src="/assets/img/contacts-grey.svg">
            <span>Contacts</span>
        </div>
    </div>
    <div class="footer">
        <a href="">Privacy Policiy</a>
        <a href="">Legal notice</a>
    </div>
</div>