<div class="sidebar">
    <img class="sidebar-img" src="/assets/img/logo-white.svg">
    <div class="sidebar-menu">
        <div class="menu-button">
            <img src="/assets/img/summary-grey.svg">
            <p>Summery</p>
        </div>
        <div class="menu-button">
            <img src="/assets/img/addTask-grey.svg">
            <p>Add Task</p>
        </div>
        <div class="menu-button">
            <img src="/assets/img/board-grey.svg">
            <p>Board</p>
        </div>
        <div class="menu-button">
            <img src="/assets/img/contacts-grey.svg">
            <p>Contacts</p>
        </div>
    </div>
</div>