<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>

    <link rel="stylesheet" href="../../styles/boardstyle.css" />
    <link rel="stylesheet" href="../../styles/fonts.css" />
    <link rel="stylesheet" href="../../styles/task_style.css" />
    <link rel="stylesheet" href="../../styles/login_reg.css" />
  </head>

  <body>
    <form onsubmit="logIn(); return false;" id="login_form">
      <input type="email" id="loginEmail" placeholder="Email" />
      <input type="password" id="loginPassword" placeholder="Password" />
      <button type="submit">Login</button>
      <button type="button" onclick="logInGuest()">Guest Login</button>
    </form>
    <script src="../../js/storage.js"></script>
    <script src="../../js/templates/login.js"></script>
  </body>
</html>
