@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX(3) scaleY(3);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(0, 0) scaleX(1) scaleY(1);
    }
}