@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX(3) scaleY(3);
    }
    100% {
        top: 50px;
        left: 50px;
        transform: translate(0, 0) scaleX(1) scaleY(1);
    }
}

.animate-welcome {
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.animate-done {
    opacity: 0;
}

.animate-logo-start {
    animation: moveLogo 800ms ease-in-out;
    animation-fill-mode: forwards;
}

.animate-Mask-start {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}