.boardbody {
    font-family: "Inter";
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1208px;
    min-height: 688px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87.41%;
    gap: 32px;
}

.h1 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.headleft {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.searchbar {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: solid 1px #a8a8a8;
    background-color: white;
    padding: 8px 16px 8px 16px;
}

.searchbar input {
    border: none;
    height: 100%;
    width: 232px;
    outline: none;
    font-size: 20px;
}

.searchbar input::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #a8a8a8;
}

.searchbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 34px;
    border-radius: 50%;
}

.searchbutton:hover {
    background-color:#e7e7e7;
    transition: 0.3s ease;
}


.divider {
    background-color: #a8a8a8;
    height: 90%;
    width: 1px;
    margin-right: 16px;
}

.head button {
    box-sizing: border-box;
    width: 160px;
    height: 48px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    text-align: left;
    border: solid 1px #2a3647;
    background-color: #2a3647;
    color: white;
    font-size: 21px;
    border-radius: 10px;
    font-weight: 700;
    background-image: url(../assets/img/add.svg);
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
}

.head button:hover {
    background-color: rgb(54,176,228);
    border: solid 1px rgb(54,176,228);
    transition: 0.3s ease;
}

.panels {
    display: flex;
    justify-content: space-between;
    width: 87.41%;
    margin-top: 40px;
}

.taskpanel {
    display: flex;
    flex-direction: column;
    width: 244px;
    gap: 16px;
}

.panelhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2a3647;
}

.panelbody {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.panelhead button {
    cursor: pointer;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #f6f7f8;
    border: solid 2px #2a3647;
    width: 24px;
    height: 24px;
    background-image: url(../assets/img/Capa1.svg);
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-position-y: 55%;
}

.placeholder {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: dotted 2px #a8a8a8;
    color: #a8a8a8;
    background-color: #e7e7e7;
    margin-bottom: 16px;
}

.taskcard {
    cursor: pointer;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    font-size: 16px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
}

.taskcard h2 {
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
}

.categorycard {
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    width: fit-content;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.descriptioncard {
    color: #a8a8a8;
}

.subtaskscard {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    font-size: 12px;
    gap: 8px;
}

progress {
    height: 20px;
    width: 128px;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
}


/* Here begins the styling of the Taskcard Overlay the following elements have "Full" at the end of their name to avoid confusion */
/* Here begins the styling of the Taskcard Overlay the following elements have "Full" at the end of their name to avoid confusion */

.Boardoverlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocker {
    background-color: rgba(0, 0, 0, 0.36);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overlayBlank {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: "Inter";
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    padding: 40px 48px 40px 48px;
}

.cardheadFull {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardheadFull img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.categorycardFull {
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    width: fit-content;
    color: white;
    font-size: 23px;
    font-weight: 400;
}

.taskcardFull h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.descriptionFull {
    color: black;
    font-size: 20px;
}

.duedateFull {
    display: flex;
    font-size: 20px;
    gap: 16px;
}

.duedateFull :first-child {
    color: #2a3647;
}

.duedateFull p {
    margin: 0;
}

.prioFull {
    display: flex;
    font-size: 20px;
    gap: 16px;
}

.prioFull div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.prioFull :first-child {
    color: #2a3647;
    margin: 0;
}

.assigneesFull p {
    color: #2a3647;
    font-size: 20px;
    margin: 0;
}

.subtasksFull p {
    font-size: 20px;
    color: #2a3647;
    margin-bottom: 12px;
}

.subtaskFull {
    display: flex;
    font-size: 20px;
}

.subtaskListFull {
    display: flex;
    flex-direction: column;
}

.singleSubtaskFull {
    display: flex;
    gap: 8px;
    padding: 6px 16px 6px 16px;
    width: fit-content;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: default;
}

.singleSubtaskFull:hover {
    background-color: #e7e7e7;
}

.checkbox {
    cursor: pointer;
}

.subtaskFull div {
    font-size: 20px;
}

.editorbarFull {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.editorbarFull button {
    background-color: white;
    border: none;
    font-size: 16px;
    height: 24px;
    cursor: pointer;
}

.del {
    background-image: url(../assets/img/delete.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
    width: 81px;
    padding: 0;
    text-align: right;
}

.edit {
    background-image: url(../assets/img/edit.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
    width: 62px;
    padding: 0;
    text-align: right;
}


/* Here begins the styling of the Task-Editor Overlay the following elements have "Edit" at the end of their name to avoid confusion */


/* Here begins the styling of the Task-Editor Overlay the following elements have "Edit" at the end of their name to avoid confusion */

.TaskEditorBody {
    max-width: 525px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cardheadEdit {
    display: flex;
    justify-content: flex-end;
}

.cardheadEdit img {
    width: 24px;
    height: 24px;
}

.titleEdit .uselessAstriks {
    display: flex;
    color: red;
}

.titleEdit .uselessAstriks h2 {
    margin: 0 0 8px 0;
    color: black;
}

.titleEdit input {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 21px 12px 21px;
    font-size: 20px;
}

.descriptionEdit h2 {
    margin: 0 0 8px 0;
}

.descriptionEdit textarea {
    font-size: 20px;
    appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
    resize: none;
    min-height: 100px;
    max-height: 120px;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    background-image: url(../assets/img/Recurso1.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 92%;
    padding: 18px 16px 18px 16px;
    font-family: inter;
}

.descriptionEdit textarea::placeholder {
    font-family: inter;
}

.duedateEdit p {
    margin: 0 0 8px 0;
}

.duedateEdit input {
    font-family: inter;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 21px 12px 21px;
    font-size: 20px;
}

.prioEdit p {
    margin: 0 0 8px 0;
}

.priocontainerEdit {
    display: flex;
    justify-content: space-between;
}

.priocontainerEdit div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    background-color: white;
    height: fit-content;
    box-sizing: border-box;
    width: 30%;
    font-weight: 400;
    cursor: pointer;
    border: solid 1px #2a3647;
    color: #2a3647;
    gap: 8px;
}

.assigneesEdit p {
    margin: 0 0 8px 0;
}

.assigneesEdit select {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
    height: 50px;
    padding: 12px 16px 12px 16px;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../assets/img/arrow_drop_downaa.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 18px);
    background-position-y: calc(50% + 2px);
    cursor: pointer;
}

.subtasksEdit {
    width: 100%;
}

.subtasksEdit p {
    margin: 0 0 8px 0;
}

.subtasksEdit div {
    position: relative;
}

.subtasksEdit input {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 21px 12px 21px;
    font-size: 20px;
}

.subtasksEdit .subtaskimages {
    position: absolute !important;
    top: 25%;
    right: 5%;
    width: fit-content !important;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.subtasksEdit .addedSubtasks {
    align-items: flex-start;
    gap: 8px;
}

.subtasksEdit .subtaskElement {
    height: 24px;
}

.subtaskElement p {
    margin: 0 !important;
}

.editorBottom button {
    cursor: pointer;
    text-align: left;
    border: solid 1px #2a3647;
    background-color: #2a3647;
    color: white;
    padding: 16px 32px 16px 16px;
    font-size: 21px;
    border-radius: 10px;
    font-weight: 700;
    background-image: url(../assets/img/check.png);
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 46%;
}

.editorBottom {
    display: flex;
    justify-content: flex-end;
}