.all {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.contact-leftside {
  background-color: white;
  box-shadow: 4px 0px 6px 0px #00000010;
  position: fixed;
  top: 106px;
  left: 233px;
  height: 90%;
  padding: 0 40px 40px 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#responsiveButton {
  display: none;
}

.contact-left-button {
  background-color: white;
  position: sticky;
  top: 0px;
  left: 0;
  width: -webkit-fill-available;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactfield {
  min-width: 350px;
  height: 100px;
  border: solid transparent;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-color: white;
  padding: 15px, 24px, 15px, 24px;
  gap: 35px;
  cursor: pointer;
}

.contactfield:hover {
  background-color: lightgrey;
}

.contactView {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 80px;
}

.addButton span {
  font-size: 21px;
  font-weight: 700;
  margin-right: 10px;
}

.name {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 24px;
}

.initials-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.initials-logo-edit {
  width: 50px;
  /* oder die gewünschte Größe */
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* oder die gewünschte Größe */
  font-weight: bold;
  color: white;
  /* oder die gewünschte Farbe */
  margin-bottom: 15px;
  /* oder der gewünschte Abstand */
}

.mail {
  color: #007cee;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
}

.alphabet-char {
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

.contactname {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 79px;
  border-radius: 10px px;
}

.contacts-headline h1 {
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

.contacts-headline h2 {
  font-size: 27px;
  font-weight: 400;
}

.addButton {
  background-color: #2a3647;
  width: 352px;
  height: 56px;
  left: 52px;
  border-radius: 10px;
  padding: 12px;
  gap: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.addButton:hover {
  background-color: #29abe2;
}

.containerAll {
  transform: translate(-50%, -50%);
  animation: slideInContacts 0.8s ease-in-out;
  background-color: white;
  display: flex;
  flex-direction: row;
  color: white;
  height: 550px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1212px;
  height: 592px;
}

#closeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 34px;
  top: 48px;
  cursor: pointer;
  color: #2a3647;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

form button {
  display: block;
  width: fit-content;
  padding: 15px;
  border: none;
  background-color: #2a3647;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.rightside {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  padding: 0 70px;
  margin-left: 380px;
}

.contactInfo {
  transform: translateX(200%);
  animation: slideIn 1s forwards;
}

.darkside {
  background-color: #2a3647;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 467px;
  height: 594px;
}

.darkside img {
  height: 66.48px;
  width: 55.6px;
}

.darkside h2 {
  font-weight: 700 !important;
  font-size: 61px;
  line-height: 73.2px;
}

.overlay {
  position: fixed;
  display: none;
  /* Damit es immer sichtbar ist, auch beim Scrollen */
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #d1d1d1;
  /* 100% der Bildschirmbreite */
  height: 100vh;
  /* 100% der Bildschirmhöhe */
  /* Ein leicht durchsichtiger schwarzer Hintergrund für das Overlay */
  z-index: 1000;
  /* Ein hoher z-index, um sicherzustellen, dass es über anderen Elementen angezeigt wird */
  display: none;
  /* Versteckt es standardmäßig */
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: -50%;
  height: 100%;
  overflow-x: hidden;
  transition: right 0.5s ease-in-out;
  padding: 60px 0 0 25px;
  color: white;
  transform: translateX(200%);
  animation: slideIn 1s forwards;
}

.whiteside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-left: 40px;
  padding-right: 60px;
  width: 100%;
}

.viewall {
  display: flex;
}

.contacts-headline {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}

.form-container {
  display: flex;
  left: unset;
  padding: 0;
  transition: right 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 570px;
  width: 50%;
  max-width: 1212px;
}

#contactlist .selected .contactfield {
  background-color: #2a3647;
  /* Dies ist die gewünschte Farbe */
  color: white;
  border-color: white;
}

.detailsLogo {
  border: solid 4px white;
  box-shadow: 0 0 4px lightslategray;
  width: 120px;
  height: 120px;
  display: inline-block;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInformation {
  align-items: center;
  flex-direction: column;
}

.email-blue {
  color: blue;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: white;
}

.inputName {
  border-radius: 10px;
  gap: 10px;
  background: url(/assets/img/person.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  padding: 13px 21px;
  border: 1px solid#D1D1D1;
  width: 90%;
}

.inputMail {
  border-radius: 10px;
  width: 90%;
  gap: 10px;
  padding: 13px, 21px, 13px, 21px;
  background-color: #ffffff;
  background: url(/assets/img/mail.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  padding: 13px 21px;
  border: 1px solid#D1D1D1;
}

.inputPhone {
  border-radius: 10px;
  gap: 10px;
  padding: 13px, 21px, 13px, 21px;
  background: url(/assets/img/call.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  padding: 13px 21px;
  border: 1px solid#D1D1D1;
  width: 90%;
}

.editArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.editArea input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--border);
  gap: 32px;
  width: 422px;
  height: 48px;
}

.createBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 56px;
  background: #2a3647;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  gap: 8px;
}

.createBtn:hover {
  background-color: #29abe2;
  box-shadow: 0px 5px 5px 0px #00000040;
}

.deleteBtn {
  height: 56px;
  width: 126px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  margin-right: 32px;
  padding: 16px;
  cursor: pointer;
  color: #2a3647;
  gap: 4px;
  font-weight: 400;
  line-height: 24px;
}

.deleteBtn:hover {
  background-color: white !important;
  color: #29abe2;
  border-color: #29abe2;
}

.closeBtn {
  width: 126px;
  height: 56px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  background-color: #ffffff;
  display: none;
  color: #2a3647;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.buttonOverview {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.alphabet-section {
  border-bottom: 2px solid #d1d1d1;
  padding: 17px;
  gap: 8px;
}

.overlayPerson img {
  height: 120px;
  width: 120px;
  border: 3px;
  border-radius: 70px;
  fill: white;
  background-color: lightgrey;
  left: calc(50% - 50px);
  top: calc(230px - 60px);
}

.Edit-Container {
  display: flex;
  left: unset;
  padding: 0;
  transition: right 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 570px;
  width: 90%;
  max-width: 1212px px;
}

.initials-logo-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Edit-whiteside {
  display: flex;
  align-items: center;
}

.editIcon:hover {
  color: #29abe2;
  cursor: pointer;
}

.editSymbol {
  color: #29abe2;
  cursor: pointer;
  margin-right: 10px;
}

.deleteIcon:hover {
  color: #29abe2;
  cursor: pointer;
}

.contactsIcons {
  display: flex;
  gap: 32px;
}

.buttonArea {
  display: flex;
  margin-top: 20px;
  margin-right: 34px;
}

.cancelBtn {
  height: 56px;
  width: 126px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  margin-right: 32px;
  padding: 16px;
  cursor: pointer;
  color: #2a3647;
  gap: 4px;
  font-weight: 400;
  line-height: 24px;
}

.cancelBtn:hover {
  background-color: white !important;
  color: #29abe2;
  border-color: #29abe2;
}

.cancelBtn img:hover {
  background-color: white !important;
  color: #29abe2;
  border-color: #29abe2;
}

.closeWin {
  background-color: #2a3647;
}

.overlayPerson {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 3px solid white;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  width: 30%;
  margin-bottom: 90px;
}

.iconWrapper {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.iconWrapper:hover .icon,
.iconWrapper:hover .iconText {
  color: #29abe2;
  filter: brightness(0) saturate(100%) invert(36%) sepia(95%) saturate(3881%)
    hue-rotate(175deg) brightness(101%) contrast(101%);
}

.iconText {
  color: IhreStartFarbe;
  /* Setzen Sie die gewünschte Anfangsfarbe */
}

.closeWindow {
  position: absolute;
  top: 16px;
  right: 24px;
  border-style: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
}

.name h3 {
  font-weight: 500;
  margin: 0;
}

.contactUser h3 {
  font-weight: 700;
  font-size: 47px;
  margin: 0;
}

.blueLineHorizontal {
  height: 0px;
  border: 3px solid #29abe2;
  border-radius: 3px;
  width: 74px;
}

.contactInformation h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.contactInformation h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin: 0;
}

.contactInformation h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin: 0;
}

.contactsIcons {
  width: 159px;
  height: 24px;
}

.contactUser {
  width: 287px;
  gap: 8px;
}

.contact h3 {
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
  margin: 0;
}

.image-to-hide h3 {
  font-weight: 400;
  line-height: 32.4px;
  font-size: 27px;
  margin: 0;
}

.image-to-hide {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
  flex-direction: column;
  margin: 0;
}

.inputContainer {
  flex-direction: column;
}

#backToContacts {
  display: none;
}

#responsiveButton {
  display: none;
}

.contact-img-responsive {
  display: none;
}
