.help-content {
    display: flex;
    flex-direction: column;
}

.help-content h1 {
    font-size: 61px;
    margin: 20px 0;
}

.help-content h2 {
    font-size: 27px;
}

.help-content h3 {
    margin-bottom: 0;
    font-size: 20;
}

.help-content p {
    margin-top: 0;
}

.arrow-left {
    display: flex;
    position: sticky;
    top: 250px;
    justify-content: flex-end;
}

.arrow-left img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.arrow-left img:hover {
    background-color: rgb(224, 222, 222);
    transform: scale(1.2);
}

.colored-word {
    color: #29ABE2;
}

ul {
    margin: 0;
    list-style-type: disc;
    list-style-position: outside;
}