.help-content {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.other-headline {
    display: flex;
    justify-content: space-between;
}

.other-headline h1 {
    font-size: 61px;
}

.other-headline h2 {
    font-size: 27px;
}

.other-headline h3 {
    font-size: 20;
}

.arrow-left {
    position: sticky;
    top: 200px;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.arrow-left:hover {
    background-color: rgb(224, 222, 222);
    transform: scale(1.2);
}

.join {
    color: #29ABE2;
}