:root {
    --white: #FFFFFF;
    --black: #000000;
    --background: #F6F7F8;
    --border: #D1D1D1;
}


/* Login */

#login_signupBody {
    font-family: "Inter";
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#login_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    Width: 652px;
    Height: 493px;
    Top: 265.5px;
    Left: 394px;
    border-radius: 30px;
    Padding: 48px 115px 48px 115px;
    Gap: 32px;
    background: var(--white);
}

#loginInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

#loginInput input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--border);
    gap: 32px;
    width: 422px;
    height: 48px;
}

#loginHead {
    border:solid;
    width:350px;
    margin:auto;
    border-bottom:none;
    background:linear-gradient(black,black) bottom /* left or right or else */ no-repeat;
    background-size:50% 3px;}



#loginButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
}

.login-headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.headline-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 80px;
    width: 279px; 
    height: 49px; 
    top: 67px; 
    left: 1039px; 
    gap: 35px;
}

#loginTitle{
    font-family: "Inter";
    font-weight: 700;
    font-size: 61px;
    Line-height: 73.2px;
    align-items: Center;
}

#logo {
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
    margin-left: 80px;
}

#signUpBtn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2a3647;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}