:root {
    --white: #FFFFFF;
    --black: #000000;
    --background: #F6F7F8;
    --border: #D1D1D1;
}


/* Login */

#login_signupBody {
    font-family: "Inter";
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
}

#login_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    Width: 652px;
    Height: 493px;
    Top: 265.5px;
    Left: 394px;
    border-radius: 30px;
    Gap: 20px;
    background: var(--white);
}

#signUp_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    Width: 652px;
    Height: 493px;
    Top: 265.5px;
    Left: 394px;
    border-radius: 30px;
    Padding: 80px 20px;
    Gap: 20px;
    background: var(--white);
}

#loginInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 32px;
}

#loginInput input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--border);
    gap: 32px;
    width: 422px;
    height: 48px;
}

#loginCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

#SignUpbtn {
    display: block;
    padding: 10px;
    border: none;
    background-color: #2a3647;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#loginButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
}

.login-headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.headline-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 279px;
    height: 49px;
    top: 67px;
    left: 1039px;
    gap: 35px;
}

#loginTitle {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-weight: 700;
    font-size: 61px;
    Line-height: 73.2px;
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: none;
    background: linear-gradient(#29ABE2, #29ABE2) bottom
    /* left or right or else */
    no-repeat;
    background-size: 40% 3px;
}

#logo {
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}

#legalNotice {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2A3647;
    margin-top: 15px;
    text-decoration: none;
}