:root {
    --white: #FFFFFF;
    --black: #000000;
    --background: #F6F7F8;
    --border: #D1D1D1;
}


/* Login */

.login-area {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

#login_signupBody {
    font-family: "Inter";
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
}

#login_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    Width: 652px;
    Height: 493px;
    Top: 265.5px;
    Left: 394px;
    border-radius: 30px;
    Gap: 20px;
    background: var(--white);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#signUp_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    Width: 652px;
    Height: 493px;
    Top: 265.5px;
    Left: 394px;
    border-radius: 30px;
    Padding: 80px 20px;
    Gap: 20px;
    background: var(--white);
}

#loginInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 32px;
}

#loginInput input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--border);
    gap: 32px;
    width: 422px;
    height: 48px;
}

#loginCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

#SignUpbtn {
    display: block;
    padding: 10px;
    border: none;
    background-color: #2a3647;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#loginButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
}

.guest-login-btn {
    background-color: white;
    color: #2a3647;
    border: solid 1px #2a3647;
}

#login_signupBody button {
    font-size: 21px;
    font-weight: 700 !important;
    border-radius: 8px !important;
}

.guest-login-btn:hover {
    background-color: white !important;
    color: #29ABE2;
    border-color: #29ABE2;
}

.login-headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#loginButtons button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 5px 5px 0px #00000040;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #A8A8A8;
    margin: 20px;
}

a:hover {
    color: #29ABE2;
    font-weight: bold;
}

#loginArrow {
    display: flex;
    cursor: pointer;
}

.headline-right {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 279px;
    height: 49px;
    top: 50px;
    right: 50px;
    gap: 35px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#loginTitle {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-weight: 700;
    font-size: 61px;
    Line-height: 73.2px;
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: none;
    background: linear-gradient(#29ABE2, #29ABE2) bottom
    /* left or right or else */
    no-repeat;
    background-size: 40% 3px;
}

.logo {
    display: flex;
    position: absolute;
    height: 120px;
    width: 100px;
}

.animate-logo-start {
    animation: moveLogo 800ms ease-in-out;
    animation-fill-mode: forwards;
}

#legalNotice {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 50px;
    width: 100%;
    margin-top: 15px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#loginRememberMe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 50px;
}

.inputName {
    border-radius: 10px;
    width: 422px;
    gap: 10px;
    background: url(/assets/img/person.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 13px 21px;
    border: 1px solid#D1D1D1;
}

.inputPassword {
    border-radius: 10px;
    width: 422px;
    gap: 10px;
    background: url(/assets/img/person.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 13px 21px;
    border: 1px solid#D1D1D1;
}

.inputEmail {
    border-radius: 10px;
    width: 422px;
    gap: 10px;
    background: url(/assets/img/person.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 13px 21px;
    border: 1px solid#D1D1D1;
}