@media(max-width: 1445px) {
    .summary-task {
        margin-right: 40px;
    }
    #content {
        padding: 40px;
    }
    nav {
        width: 150px;
    }
    #left-layout {
        min-width: 150px;
        width: 150px;
    }
    .navigation-img {
        width: 150px;
    }
    .navigation-menu {
        width: 150px;
    }
    .menu-button {
        padding: 8px 20px;
    }
    .summary-header h1 {
        margin: 20px 0;
    }
    .summary-header {
        height: 100px;
    }
    .summary-todo,
    .summary-done,
    .summary-upcoming,
    .summary-board,
    .summary-progress,
    .summary-feedback {
        height: 85px;
    }
    .summary-task p {
        padding: 0 10px;
    }
}

@media(max-width: 1190px) {
    .summary-todo,
    .summary-done,
    .summary-upcoming {
        padding: 15px 20px;
        height: 85px;
    }
    .summary-todo,
    .summary-done {
        width: 164px;
    }
    .summary-upcoming {
        width: 385px;
    }
    .summary-board,
    .summary-progress,
    .summary-feedback {
        width: 122px;
        height: 85px;
    }
    .summary-line1,
    .summary-line3 {
        width: unset;
        display: flex;
        justify-content: space-between;
    }
    .summary-welcome {
        height: 390px;
    }
}

@media(max-width: 865px) {
    #left-layout {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }
    #content {
        margin-top: 90px;
    }
    nav {
        flex-direction: row;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }
    .navigation-menu {
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: space-around;
    }
    .footer {
        display: none;
    }
    .navigation-img {
        display: none;
    }
    nav .menu-button {
        flex-direction: column;
        align-items: center;
    }
    .headline {
        display: none;
    }
    .grey-logo {
        display: flex !important;
        height: 60px;
        width: 50px;
    }
    #header {
        height: 80px;
        padding: 5px 40px 5px 40px;
        align-items: center;
    }
    .summary-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 400px;
        height: 200px;
    }
    .img-full {
        display: none;
    }
    .img-responsive {
        display: flex !important;
        transform: rotateZ(90deg);
        margin: -25px 0 0 43px;
        height: 90px;
    }
    .summary-header h1 {
        font-size: 47px;
    }
    .summary-header h2 {
        font-size: 20px;
        margin: 0;
    }
}