@media(max-width: 1445px) {
    .summary-task {
        margin-right: 40px;
    }
    #content {
        padding: 40px;
    }
    nav {
        width: 150px;
    }
    #left-layout {
        min-width: 150px;
        width: 150px;
    }
    .navigation-img {
        width: 150px;
    }
    .navigation-menu {
        width: 150px;
    }
    .menu-button {
        padding: 8px 20px;
    }
}

@media(max-width: 1190px) {
    .summary-todo,
    .summary-done,
    .summary-upcoming {
        padding: 15px 20px;
    }
    .summary-todo,
    .summary-done {
        width: 164px;
    }
    .summary-upcoming {
        width: 385px;
    }
    .summary-board,
    .summary-progress,
    .summary-feedback {
        width: 122px;
    }
    .summary-line1,
    .summary-line3 {
        width: unset;
    }
    .summary-welcome {
        height: 390px;
    }
}

@media(max-width: 865px) {
    #left-layout {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }
    nav {
        flex-direction: row;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }
    .navigation-menu {
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }
}