@media (max-width: 1445px) {
  .summary-task {
    margin-right: 40px;
  }
  #content {
    padding: 40px;
  }
  nav {
    width: 150px;
  }
  #left-layout {
    min-width: 150px;
    width: 150px;
  }
  .navigation-img {
    width: 150px;
  }
  .navigation-menu {
    width: 150px;
  }
  .menu-button {
    padding: 8px 20px;
  }
  .summary-header h1 {
    margin: 20px 0;
  }
  .summary-header {
    height: 100px;
  }
  .summary-todo,
  .summary-done,
  .summary-upcoming,
  .summary-board,
  .summary-progress,
  .summary-feedback {
    height: 85px;
  }
  .summary-task p {
    padding: 0 10px;
  }
  .contact-leftside {
    left: 150px;
    height: 100%;
    padding: 20px;
    width: 370px;
  }
  .rightside {
    padding: 10px 50px;
    margin-left: 370px;
  }
}

@media (max-width: 1190px) {
  .summary-todo,
  .summary-done,
  .summary-upcoming {
    padding: 15px 20px;
    height: 85px;
  }
  .summary-todo,
  .summary-done {
    width: 164px;
  }
  .summary-upcoming {
    width: 385px;
  }
  .summary-board,
  .summary-progress,
  .summary-feedback {
    width: 122px;
    height: 85px;
  }
  .summary-line1,
  .summary-line3 {
    width: unset;
    display: flex;
    justify-content: space-between;
  }
  .summary-welcome {
    height: 390px;
  }
  .panels {
    flex-wrap: wrap;
  }
  .taskpanel {
    width: 310px;
  }
  .head {
    gap: 14px;
  }
  .headleft {
    gap: 14px;
  }
  .taskbody .task_input {
    flex-direction: column;
  }
  .task_input .divider {
    display: none;
  }
  .input1 {
    width: 100% !important;
  }
  .input2 {
    width: 100% !important;
  }
  .assigneeOptionContainer {
    width: 96.5%;
  }
  .addedSubtasks {
    margin-bottom: 16px;
  }
}

@media (max-width: 865px) {
  #left-layout {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
  }
  #content {
    margin-top: 90px;
    overflow-y: scroll;
  }
  nav {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
  }
  .navigation-menu {
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
  }
  .footer {
    display: none;
  }
  .navigation-img {
    display: none;
  }
  nav .menu-button {
    flex-direction: column;
    align-items: center;
  }
  .headline {
    display: none;
  }
  .grey-logo {
    display: flex !important;
    height: 60px;
    width: 50px;
  }
  #header {
    height: 80px;
    padding: 5px 40px 5px 40px;
    align-items: center;
  }
  .summary-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    height: 200px;
  }
  .img-full {
    display: none;
  }
  .img-responsive {
    display: flex !important;
    transform: rotateZ(90deg);
    margin: -25px 0 0 43px;
    height: 90px;
  }
  .summary-header h1 {
    font-size: 47px;
  }
  .summary-header h2 {
    font-size: 20px;
    margin: 0;
  }
  .overlayBlank {
    margin-left: 0;
  }
}

@media (max-width: 739px) {
  .head {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4%;
  }
  .headleft {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 4%;
  }
  .searchbar {
    width: 100%;
  }
  #content {
    margin-bottom: 74px;
    /* Must be the height of the bottom-navbar. Please adjst if necessary JK 4.10.23*/
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .taskbody {
    width: 95%;
  }
  .clear {
    display: none;
  }
  .overlayBlank {
    padding: 30px 24px 30px 24px;
  }
  .taskbody h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
  }
  .assignmentContainer {
    width: 94%;
  }
  .searchbar input {
    width: -webkit-fill-available;
  }
}

@media (max-width: 432px) {
  .addTaskBottom {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    gap: 40px;
  }
  .taskbody .priocontainer div {
    width: 32%;
    font-size: 16px;
  }
  .TaskEditorBody .assigneeOptionContainer {
    width: 90% !important;
  }
}
