@media (max-width: 1445px) {
    .summary-task {
        margin-right: 40px;
    }
    #content {
        padding: 40px;
        height: 78vh;
        width: -webkit-fill-available;
    }
    #header {
        padding: 5px 40px 5px 0px;
    }
    .summary-header h1 {
        margin: 20px 0;
    }
    .summary-header {
        height: 100px;
    }
    .summary-todo,
    .summary-done,
    .summary-upcoming,
    .summary-board,
    .summary-progress,
    .summary-feedback {
        height: 85px;
    }
    .summary-task p {
        padding: 0 8px;
    }
    .rightside {
        padding: 10px 30px;
        margin-left: 440px;
    }
    .taskbody .task_input {
        flex-direction: column;
    }
    .task_input .divider {
        display: none;
    }
    .input1 {
        width: 100% !important;
    }
    .input2 {
        width: 100% !important;
    }
    .assigneeOptionContainer {
        width: 96.5%;
    }
    .addedSubtasks {
        margin-bottom: 16px;
    }
}

@media (max-width: 1190px) {
    .summary-todo,
    .summary-done,
    .summary-upcoming {
        padding: 15px 20px;
        height: 85px;
    }
    .summary-todo,
    .summary-done {
        width: 164px;
    }
    .summary-upcoming {
        width: 345px;
    }
    .summary-board,
    .summary-progress,
    .summary-feedback {
        width: 122px;
        height: 85px;
    }
    .summary-line1,
    .summary-line3 {
        width: 385px;
        display: flex;
        justify-content: space-between;
    }
    .summary-line2 {
        width: 385px;
    }
    .summary-task span {
        font-size: 50px;
        padding: 0 8px;
    }
    .summary-task p {
        font-size: 18px;
    }
    .summary-task svg {
        height: 50px;
    }
    .upcoming-img {
        height: 50px;
    }
    .summary-welcome.desktop {
        height: 390px;
    }
    .summary-greeting {
        font-size: 35px;
        font-weight: 500;
    }
    .summary-user {
        font-size: 45px;
        font-weight: 700;
    }
    HEAD .panels {
        flex-wrap: wrap;
    }
    .taskpanel {
        width: 310px;
        padding: 5px;
    }
    .head {
        gap: 14px;
    }
    .headleft {
        gap: 14px;
    }
    .rightside {
        display: none;
        margin: 0;
        padding: 0;
        width: 100%;
        align-items: flex-start;
    }
    .contact-leftside {
        width: calc(100% - 80px);
        align-items: flex-start;
    }
    .contact-left-button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .viewall {
        width: 100%;
    }
}

@media (max-width: 999px) {
    .head {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

@media (max-width: 970px) {
    #left-layout,
    nav,
    .navigation-menu,
    .navigation-img {
        width: 190px;
        min-width: 190px;
    }
    .menu-button {
        padding: 8px 20px;
    }
    .head {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .overlayBlank {
        margin-left: 190px;
    }
    .containerAll {
        flex-direction: column;
        width: 396px;
        height: 760px;
    }
    .darkside {
        width: 100% !important;
        border-radius: 30px 30px 0 0;
    }
    .image-to-hide img {
        display: none;
    }
    .image-to-hide h2 {
        font-weight: 700;
        font-size: 47px;
        line-height: 56.4px;
    }
    .image-to-hide h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .inputName {
        width: 50%
    }
    .inputMail {
        width: 50%
    }
    .inputPhone {
        width: 50%
    }
    .overlayPerson {
        position: absolute;
        margin-top: -440px;
    }
    .rightside {
        display: none;
    }
    .cancelBtn {
        display: none;
    }
    #responsiveButton {
        display: flex;
        align-items: center;
        background-color: #2a3647;
        color: white;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        position: fixed;
        bottom: 120px;
        right: 10%;
        cursor: pointer;
    }
    .addButton {
        display: none;
    }
    .buttonArea {
        justify-content: center;
    }
    .inputContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .createBtn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 45px;
        background: #2A3647;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        gap: 8px;
    }
    .contact-leftside {
        position: unset;
        padding: 0;
        background-color: #F6F7F8;
        box-shadow: none;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }
    .contactfield {
        border: none;
    }
    .contact-left-button {
        height: 0;
        min-height: 0px !important;
    }
    .viewall {
        width: 100%;
        overflow-y: scroll;
    }
}

@media(max-width: 900px) {
    .panels {
        margin-top: 20px;
        justify-content: center;
        overflow: auto;
    }
    .summary-header {
        width: 600px;
    }
}

@media (max-width: 865px) {
    #left-layout {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }
    #content {
        margin-top: 90px;
        position: fixed;
    }
    nav {
        flex-direction: row;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 80px;
    }
    .summary-todo,
    .summary-done,
    .summary-upcoming {
        padding: 8px 10px;
    }
    .summary-upcoming {
        width: 100%;
    }
    .summary-line2 {
        width: 370px;
    }
    .navigation-menu {
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: space-around;
    }
    .summary-info {
        display: flex;
        justify-content: center;
        width: fit-content;
    }
    .footer {
        display: none;
    }
    .navigation-img {
        display: none;
    }
    nav .menu-button {
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 10px 5px;
        margin-top: 3px;
    }
    .headline {
        display: none;
    }
    .summary-header h1 {
        margin: 0px 0;
    }
    .grey-logo {
        display: flex !important;
        height: 60px;
        width: 50px;
    }
    #header {
        z-index: 5;
        height: 80px;
        padding: 5px 40px 5px 40px;
        align-items: center;
    }
    .summary-content {
        height: fit-content;
    }
    .summary-header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 400px;
        height: 140px;
    }
    .summary-info {
        height: 500px;
    }
    .img-full {
        display: none;
    }
    .img-responsive {
        display: flex !important;
        transform: rotateZ(90deg);
        margin: -25px 0 0 43px;
        height: 90px;
    }
    .overlayBlank {
        margin-left: 0;
    }
    .summary-task {
        margin-top: 0;
    }
    .summary-welcome.desktop {
        display: none;
    }
    .summary-welcome.mobile {
        display: flex;
        flex-direction: column;
        z-index: 2;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 85vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #F6F7F8;
    }
    .header-submenu {
        width: 135px;
        height: 150px;
        top: 90px;
        padding: 0;
    }
    .header-submenu div {
        width: 105px;
        height: 35px;
        padding: 2px 8px;
    }
    .headleft {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }
    #backToContacts {
        display: block;
    }
    .rightside {
        display: none;
    }
    .contactUser h3 {
        font-size: 36px;
    }
}

@media (max-width: 739px) {
    .searchbar {
        width: 100%;
    }
    #content {
        margin-bottom: 74px;
        /* Must be the height of the bottom-navbar. Please adjst if necessary JK 4.10.23*/
        justify-content: center;
    }
    .taskbody {
        width: 95%;
    }
    .taskInputContainer {
        overflow-y: scroll;
    }
    .clear {
        display: none;
    }
    .overlayBlank {
        padding: 30px 24px 30px 24px;
    }
    .taskbody h1 {
        font-size: 48px;
        font-weight: 700;
        margin-top: 0;
    }
    .searchbar input {
        width: -webkit-fill-available;
    }
    .summary-upcoming {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #login_signupBody {
        padding: 20px;
    }
    .login-area {
        height: 80vh;
    }
    #login_form {
        Width: 380px;
        Height: 550px;
        border-radius: 30px;
        Gap: 40px;
    }
    #loginInput input {
        gap: 32px;
        width: 320px;
        height: 48px;
    }
    #loginButtons {
        display: flex;
        flex-direction: column;
    }
    #loginRememberMe {
        margin: 0 20px 39px 20px;
        justify-content: flex-start;
    }
    .login-btn,
    .guest-login-btn {
        width: 170px;
    }
    .headline-right {
        width: 100%;
        top: 810px;
        left: 0;
        display: flex;
        justify-content: center;
    }
    .legalNotice {
        bottom: 120px;
    }
    .signUp-formular {
        display: flex;
        width: 100%;
        height: 64vh;
        justify-content: center;
        align-items: center;
    }
    #signUp_form {
        Width: 100%;
    }
    #loginArrow {
        left: -220px;
        height: 32px;
        width: 32px;
    }
    .password-img {
        right: -150px;
    }
    #loginInput {
        margin-bottom: 0px;
    }
}

@media (max-width: 550px) {
    #loginArrow {
        left: -200px;
        height: 32px;
        width: 32px;
    }
}

@media (max-width: 500px) {
    #login_signupBody {
        padding: 0px;
    }
    .logo {
        top: 20px;
        left: 20px;
        height: 80px;
        width: 66px;
        background-size: cover;
        background-image: url(/assets/img/logo_main.svg);
    }
    .animate-logo-start {
        animation: moveLogo 800ms ease-in-out, changeColor 800ms ease-in-out;
    }
    .animate-start-color {
        animation: fadeBackgroundColor 800ms ease-in-out;
        animation-fill-mode: forwards;
    }
    #loginArrow {
        left: -190px;
        height: 32px;
        width: 32px;
    }
    .contactView {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 32px;
    }
    .contactsIcons {
        display: none;
    }
    .contacts-headline {
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-img {
        display: none;
    }
    .contact-img-responsive {
        display: flex;
    }
    .contacts-headline h2 {
        margin: 0;
    }
}

@media (max-width: 440px) {
    #content {
        padding: 20px;
        height: 72vh;
    }
    .summary-line1,
    .summary-line2,
    .summary-line3 {
        width: 320px;
        gap: 10px;
    }
    .summary-header h1 {
        font-size: 47px;
    }
    .summary-header h2 {
        font-size: 20px;
        margin: 0;
    }
    .password-img {
        right: -128px;
    }
    .summary-upcoming {
        width: 300px;
    }
    .summary-task span {
        font-size: 40px;
    }
    .next-date {
        font-size: 18px !important;
        padding: 0;
    }
    .summary-task p {
        font-size: 15px;
    }
    .addTaskBottom {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        gap: 40px;
    }
    .taskbody .priocontainer div {
        width: 32%;
        font-size: 16px;
    }
    .assignmentSelect {
        font-size: 18px;
    }
    .head {
        width: 310px;
    }
    .searchbar input {
        width: -webkit-fill-available;
        max-width: 237px;
    }
    #login_form {
        Width: 300px;
        Height: 550px;
        border-radius: 30px;
        Gap: 40px;
    }
    .login-area {
        height: 70vh;
    }
    .headline-right {
        top: 720px;
    }
    #loginInput {
        margin: 0;
    }
    #loginInput input {
        gap: 32px;
        width: 270px;
        height: 48px;
    }
    #loginCheckbox {
        margin: 0;
    }
    #loginRememberMe {
        margin: 20px 10px;
        justify-content: flex-start;
        width: fit-content;
    }
    #loginTitle {
        margin-bottom: 20px;
        width: 100%;
    }
    #loginHead {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #signUp_form {
        Width: 300px;
        padding: 0;
    }
    .signUp-formular {
        display: flex;
        width: 100%;
        height: 64vh;
        justify-content: center;
        align-items: center;
    }
}