:root {

    --white: #FFFFFF;
    --black: #000000;
    --lightgrey: #F2F2F2;
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Login */

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    Width: 100%;
    Height: 100vh;
    background: var(--white);
}

#login_form {
    Width: 652px;
    Height: 493px;
    Top: 265.5px;
    Left: 394px;
    border-radius: 30px;
    Padding: 48px 115px 48px 115px;
    Gap: 32px;
    background: var(--lightgrey);
}

#logo {
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}