:root {
    --white: #FFFFFF;
    --black: #000000;
    --background: #F6F7F8;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Login */

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    Width: 100%;
    Height: 100vh;
    background: var(--white);
}

#login_form {
    Width: 652px;
    Height: 493px;
    Top: 265.5px;
    Left: 394px;
    border-radius: 30px;
    Padding: 48px 115px 48px 115px;
    Gap: 32px;
    background: var(--background);
}

#logo {
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}

.email_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the right distance as needed */
    transform: translateY(-50%);
    width: 20px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}