.header-content h1 {
    font-size: 61px;
    font-weight: 700;
}

.header-content h2 {
    font-size: 27px;
    font-weight: 400;
}

.header-content {
    display: flex;
}

.header-content img {
    height: 59px;
    border: 3px;
}